[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
matplotlib = "*"
pysentiment = {git = "https://github.com/hanzhichao2000/pysentiment/"}

[dev-packages]

[requires]
python_version = "3.6"
