args==0.1.0
asn1crypto==0.24.0
autorandr==1.5.post1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
clint==0.5.1
cryptography==2.2.2
demjson==2.2.4
fudge==1.1.1
idna==2.6
instagram-scraper==1.5.36
isoweek==1.3.3
lxml==4.6.3
mutagen==1.40.0
nose==1.3.7
oauthlib==2.1.0
pbr==4.0.4
pipenv==2018.5.18
py-trello==0.11.3
pycparser==2.18
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
requests-oauthlib==1.0.0
simplejson==3.15.0
six==1.11.0
soundcloud==0.5.0
soundscrape==0.30.1
stevedore==1.28.0
tqdm==4.23.4
urllib3==1.22
validate-email==1.3
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
